In [ ]:
import pandas as pd

pand1 = pd.Series([1,2,3,4,5]) # This is a normal array
pand2 = pd.Series([1,2,3,4,5], index=['one','two','three','four','five']) # This is an array with special indexes

dic = {'one':1, 'two':2, 'three':3, 'four':4}
pand3 = pd.Series(dic)

print(pand1)
print(pand2)
print(pand3)
###
#OUTPUT
#0    1
#1    2
#2    3
#3    4
#4    5
#dtype: int64
#one      1
#two      2
#three    3
#four     4
#five     5
#dtype: int64
#one      1
#two      2
#three    3
#four     4
#dtype: int64

In [ ]:
import pandas as pd

employees = ['Paul', 'Shelby', 'Josh', 'Phil', 'Steve']
pay = [25.00, 15.75, 13.24, 10.11, 15]
tenure = [10, 5, 7, 13, 45]

employInfo = pd.DataFrame({'Employee':employees, 'pay':pay, 'Tenure':tenure})
print(employInfo)

In [ ]:
import pandas as pd

employees = ['Paul', 'Shelby', 'Josh', 'Phil', 'Steve']
pay = [25.00, 15.75, 13.24, 10.11, 15]
tenure = [10, 5, 7, 13, 45]

employInfo = pd.DataFrame({'Employee':employees, 'Pay':pay, 'Tenure':tenure})

employInfo['RPY'] = (employInfo['Pay']-7.25)/employInfo['Tenure']

print(employInfo.T) # This will print the transposed table
#######################################################
#              0       1         2      3         4
#Employee   Paul  Shelby      Josh   Phil     Steve
#Pay        25.0   15.75     13.24  10.11      15.0
#Tenure       10       5         7     13        45
#RPY       1.775     1.7  0.855714   0.22  0.172222

In [ ]:
import pandas as pd;
import numpy as np;

myIndex = pd.Index(['a','b','c','d','e'])
myIndex2 = pd.Index(['a','c','d'])
ds1 = pd.Series(np.random.random(5), index=myIndex)
ds2 = pd.Series([1,2,3], index=myIndex2)
ds3 = pd.Series([0,1,2,3,4], index=myIndex)
df = pd.DataFrame({'rand':ds1,'set':ds3}, index=myIndex)
print(ds1+100)
print('-------------')
print(df+10)
print('-------------')
print(ds1+ds2)
print('---------')
print(ds1.add(ds2, fill_value=0))

In [ ]:
import pandas as pd;
import numpy as np;
s1 = pd.Series([1,3,7,9], index=[310,332,209,199])
s2 = pd.Series(['a','b','c','d'], index=[310,209,332,199])
df = pd.DataFrame({'ONE':s1,'TWO':s2})
print(df.sort_values('ONE'))
print(df.sort_values('TWO'))
print(df.sort_index())

In [ ]:
import pandas as pd
dex = pd.MultiIndex.from_tuples([('a',0),('a',1),('a',2),('b',2),('b',3)], names=['letter','nummber'])

df = pd.DataFrame({'OS':['Mac', 'Windows',"Linux","Linux","Windows"], 'Failure':[True,False,True,False,True]},index = dex)

print(df)
print(df.sort_index(ascending=False))
print(df.reset_index())

In [1]:
import pandas as pd;
import numpy as np;
idex = pd.Index(['a','b','c','d','e'])
s1 = pd.Series(np.arange(5), idex)
s2 = pd.Series([100,200,300,400,500], idex)
df = pd.DataFrame({'Ones':s1, 'Hundreds':s2})
print(df)
print(pd.melt(df))
print(df.pivot(columns='Hundreds', values='Ones'))

   Ones  Hundreds
a     0       100
b     1       200
c     2       300
d     3       400
e     4       500
   variable  value
0      Ones      0
1      Ones      1
2      Ones      2
3      Ones      3
4      Ones      4
5  Hundreds    100
6  Hundreds    200
7  Hundreds    300
8  Hundreds    400
9  Hundreds    500
Hundreds  100  200  300  400  500
a         0.0  NaN  NaN  NaN  NaN
b         NaN  1.0  NaN  NaN  NaN
c         NaN  NaN  2.0  NaN  NaN
d         NaN  NaN  NaN  3.0  NaN
e         NaN  NaN  NaN  NaN  4.0

In [13]:
import pandas as pd;
import numpy as np;
s1 = pd.Series([0,1,2,3,4,5])
s2 = pd.Series([3.14,7.19,6.4])
value = 3
print(s1); print(s2);
df = pd.DataFrame({'A':s1,'B':s2})
print(df)
print("Where is A Greater than ", value)
print(df.eval('(A < @value)'))
print("What Data is in those locations")
print(df.query('A < @value'))

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64
0    3.14
1    7.19
2    6.40
dtype: float64
   A     B
0  0  3.14
1  1  7.19
2  2  6.40
3  3   NaN
4  4   NaN
5  5   NaN
Where is A Greater than  3
0     True
1     True
2     True
3    False
4    False
5    False
dtype: bool
What Data is in those locations
   A     B
0  0  3.14
1  1  7.19
2  2  6.40

In [5]:
import pandas as pd
ds1 = pd.Series(['all', 'these', 'are', 'lower', 'case'])
print(ds1)
print(ds1.str.capitalize())
ds2 = pd.Series(['O|M|C','M|D|G','S|D|D'])
print(ds2)
print(ds2.str.get_dummies())

0      all
1    these
2      are
3    lower
4     case
dtype: object
0      All
1    These
2      Are
3    Lower
4     Case
dtype: object
0    O|M|C
1    M|D|G
2    S|D|D
dtype: object
   C  D  G  M  O  S
0  1  0  0  1  1  0
1  0  1  1  1  0  0
2  0  1  0  0  0  1